body{
    background-color: #343434;
    margin: 0;
}

canvas{
    border: 5px solid white;
    border-bottom: none;
    position: absolute;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: none;
}



