body{
    background-color: wheat;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas{
    border: 1px solid white;
    box-sizing: border-box;

    width: 100vw;
    height: 90vh;
    cursor: crosshair;
}

#colorContainer{
    width: 100%;
    height: 9vh;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#colorContainer img{
    width: 5vh;
    height: 5vh;

    margin: 0.5vh;
}
#colorContainer > div{
    width: 5vh;
    height: 5vh;
    border: 1px solid black;

    margin: 0.5vh;
}
.colorBox:active{
    filter: brightness(50%);
}
#lineWidth{
    width: 15vh;
    height: 5vh;
    
    margin: 0.5vh;

    
}

#lineWidthInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}