body{
    background-color: gray;
    margin: 0;
    box-sizing: border-box;
}

canvas{
    border: 1px solid white;

    width: 99%;
    height: 90vh;
    cursor: crosshair;
}

#colorContainer{
    width: 100%;
    height: 9vh;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#colorContainer img{
    width: 5vh;
    height: 5vh;

    margin: 0.5vh;
}
#colorContainer > div{
    width: 5vh;
    height: 5vh;
    border: 1px solid black;

    margin: 0.5vh;
}
.colorBox:active{
    filter: brightness(50%);
}
#lineWidth{
    width: 15vh;
    height: 5vh;
    
    margin: 0.5vh;

    
}
